<!-- =========================
Footer v2 with translations
===========================-->
<footer class="footer footer-two relative overflow-hidden bg-secondary dark:bg-background-8">
  <!-- right gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="right"
    data-offset="400"
    class="pointer-events-none select-none absolute h-[618px] w-[617px] top-[-15%] md:top-[-21%] xl:top-[-24%] max-[376px]:right-[-68%] right-[-71%] md:right-[-33%] lg:right-[-19%] xl:right-[-9%] bg-no-repeat bg-top-right z-0 rotate-[-30deg]"
  >
  </figure>

  <div class="main-container relative z-10 px-5 border-t border-t-stroke-6 dark:border-t-accent/10">
    <div class="grid grid-cols-12 xl:pt-[90px] gap-x-0 gap-y-16 pt-16 pb-12 justify-between">
      <div class="col-span-12 xl:col-span-4">
        <div data-ns-animate data-delay="0.3" class="xl:max-w-[306px]">
          <figure class="max-w-[32px] lg:max-w-[40px]">
            <img src="./images/shared/logo-dark.svg" alt="Colins AI Logo" />
          </figure>
          <p class="text-accent/60 font-normal text-tagline-1 mt-4 mb-7">
            Do Better.
          </p>
          <div class="flex items-center gap-3">
            <a href="#" class="footer-social-link">
              <span class="sr-only">Facebook</span>
              <img class="size-6" src="./images/icons/facebook.svg" alt="Facebook" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Instagram</span>
              <img class="size-6" src="./images/icons/instagram.svg" alt="Instagram" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Youtube</span>
              <img class="size-6" src="./images/icons/youtube.svg" alt="Youtube" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">LinkedIn</span>
              <img class="size-6" src="./images/icons/linkedin.svg" alt="LinkedIn" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-8 grid grid-cols-12">
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.4" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50" data-i18n="footer.company.title">Company</p>
            <ul class="space-y-5 max-[400px]:space-y-3">
              <li>
                <a href="./technoloy.html" class="footer-link" data-i18n="footer.company.technology"> Technology </a>
              </li>
              <li>
                <a href="./support.html" class="footer-link" data-i18n="footer.company.support"> Support </a>
              </li>
              <li>
                <a href="#" class="footer-link" data-i18n="footer.company.contact"> Contact </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.6" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50" data-i18n="footer.legal.title">
              Legal Policies
            </p>
            <ul class="space-y-5">
              <li>
                <a href="./terms-conditions.html" class="footer-link" data-i18n="footer.legal.terms">
                  Terms & Conditions
                </a>
              </li>
              <li>
                <a href="./privacy-policy.html" class="footer-link" data-i18n="footer.legal.privacy"> Privacy Policy </a>
              </li>
              <li>
                <a href="./legal-gdpr.html" class="footer-link" data-i18n="footer.legal.gdpr"> GDPR Compliance </a>
              </li>
            </ul>
          </div>
        </div>        
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.5" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50" data-i18n="footer.quality.title">Quality Standards</p>
            <ul class="space-y-5">
              <li>
                <a href="./iso27001" class="footer-link"> ISO 27001</a>
              </li>
              <li>
                <a href="./iso13374" class="footer-link"> ISO 13374 </a>
              </li>
              <li>
                <a href="./iso20022" class="footer-link"> ISO 20022 </a>
              </li>
              <li>
                <a href="./iso42001" class="footer-link"> ISO 42001 </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-6 pb-10 text-center relative">
      <div
        class="footer-divider absolute top-0 left-0 right-0 w-0 origin-center mx-auto h-px bg-stroke-6 dark:bg-accent/10"
      ></div>
      <p
        data-ns-animate
        data-delay="0.7"
        data-offset="10"
        data-start="top 105%"
        class="text-tagline-1 max-sm:text-tagline-2 font-normal text-primary-50"
        data-i18n="footer.copyright"
      >
        Copyright &copy;Colins AI 2025 – All rights reserved.
      </p>
    </div>
  </div>
  <Component src="src/components/shared/theme-toggle.htm" />
  
  <Component src="src/components/shared/package-link.htm" />

  <!-- SCRIPT -->
  <script type="module" src="./src/main.js"></script>
</footer>
