<!-- =========================
hero section with translations
===========================-->
<section class="hero-section relative xl:pt-[230px] xl:pb-[100px] pt-[170px] pb-20">
  <!-- hero bg  -->
  <figure
    data-ns-animate
    data-delay="0.3"
    data-offset="0"
    class="opacity-0 h-[765px] w-full top-[13%] md:top-[11%] lg:top-[10%] xl:top-[13%] lp:!top-[15%] left-0 z-[-1] absolute dark:hidden max-w-[2560px]"
  >
    <img src="./images/ns-img-76.png" alt="hero" class="w-full h-full" />
  </figure>
  <figure
    data-ns-animate
    data-delay="0.3"
    data-offset="0"
    class="opacity-0 h-[765px] w-full top-[15%] left-0 z-[-1] absolute dark:block hidden"
  >
    <img src="./images/ns-img-dark-51.png" alt="hero" class="w-full h-full" />
  </figure>
    <!-- Background shape-->
    <!-- Content -->
    <div class="main-container flex flex-col items-center text-center z-10">
      <span data-ns-animate data-delay="0.1" class="badge badge-yellow mb-5" data-i18n="hero.badge">
        Physics Informed Neural Networks
      </span>
      <h1
        data-ns-animate
        data-delay="0.2"
        class="font-medium max-w-[860px] max-[426px]:mb-2.5 mb-4 max-[426px]:text-heading-5 max-sm:text-heading-4 max-sm:max-w-[450px]"
        data-i18n="hero.title"
      >
        We show you the exact 
        <br class="hidden md:block" />
        health of your pumps and motors
      </h1>
      <p data-ns-animate data-delay="0.3" class="max-w-[800px] mb-10 sm:mb-14 max-sm:max-w-[420px]" data-i18n="hero.description">
        Standard sensors detect damage after it happens. We use Digital Twins to simulate internal physics in real-time, detecting problems months in advance with 99% accuracy.
      </p>
      <ul class="flex flex-col md:flex-row gap-4 mb-7 md:mb-14 max-md:w-full">
        <li data-ns-animate data-delay="0.3" data-direction="left" data-offset="50">
          <a
            href="https://wa.me/17077022817"
            class="btn max-md:btn-md w-full md:w-auto max-md:mx-auto btn-xl dark:btn-accent btn-secondary hover:btn-white dark:hover:btn-transparent"
          >
            <span data-i18n="hero.cta.primary">Get started</span>
          </a>
        </li>
        <li data-ns-animate data-delay="0.5" data-direction="left" data-offset="50">
          <a
            href="#"
            class="btn btn-white max-md:btn-md w-full md:w-auto max-md:mx-auto btn-xl hover:btn-secondary dark:btn-transparent dark:hover:btn-accent"
          >
            <span data-i18n="banking.hero.cta.secondary">Book a Call</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
