<!-- =========================
Main section
===========================-->
<section class="pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <!-- HEADING  -->
    <div class="text-center space-y-5">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan">Iso 20022</span>
      <div class="space-y-3 text-center">
        <h2 data-ns-animate data-delay="0.3">Financial Information Exchange</h2>
        <p data-ns-animate data-delay="0.4" class="max-w-[600px] mx-auto">
          ISO 20022 is the international standard for exchanging electronic financial messages, creating a common language for payments, securities, and other transactions. Here's how we apply it to your bank.
        </p>
      </div>
    </div>

    <!-- tab group  -->
    <Component src="./tabs.htm" />

    <!-- banking tab  -->
    <Component src="./banking.htm" />

  </div>
</section>
