<section class="relative py-16 bg-background-3 dark:bg-background-6 overflow-hidden">
  
  <div class="main-container flex flex-col gap-4 h-full">
    
    <div class="flex flex-col items-center text-center gap-y-4">
      <h2 class="max-w-[750px] mx-auto" data-i18n="deeptech.animation.title">How it works</h2>
      <p class="max-w-[850px] text-secondary/70 dark:text-secondary-light/70" data-i18n="deeptech.animation.description">
        No infrastructure costs, no fixed costs, no loss of IP.  
      </p>
    </div>
  </div>
</section>