<!-- =========================
Main section
===========================-->
<section class="pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <!-- HEADING  -->
    <div class="text-center space-y-5">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan">Iso 42001</span>
      <div class="space-y-3 text-center">
        <h2 data-ns-animate data-delay="0.3">Artificial Intelligence Management Systems</h2>
        <p data-ns-animate data-delay="0.4" class="max-w-[600px] mx-auto">
          ISO 42001 is the international standard for implementing, maintaining, and improving safe and ethical AI systems. Here's how we apply it to each sector.
        </p>
      </div>
    </div>

    <!-- tab group  -->
    <Component src="./tabs.htm" />

    <!-- deep tech tab  -->
    <Component src="./deeptech.htm" />

    <!-- biotech tab  -->
    <Component src="./biotech.htm" />

    <!-- banking tab  -->
    <Component src="./banking.htm" />

    <!-- manufacturing tab  -->
   
  </div>
</section>
