<section class="relative py-16 bg-background-3 dark:bg-background-6 overflow-hidden">
  
  <div class="main-container pt-20 flex flex-col gap-4 h-full">
    
    <div class="flex flex-col items-center text-center pb-8 gap-y-4">
      <h2 class="max-w-[750px] mx-auto" data-i18n="banking.graph.title">How it works</h2>
      <p class="max-w-[850px] text-secondary/70 dark:text-secondary-light/70" data-i18n="banking.graph.description">
        Our proprietary graph technology models your entire network. Nodes represent entities (customers, accounts, devices) and Edges represent transaction attributes (IP address, phone number, or physical location). This allows us to find hidden relationships and catch mule networks, account takeovers, and minimize false positives.
      </p>
    </div>

    <!-- Graph Neural Network Simulation -->
    <div data-ns-animate data-delay="0.6" class="w-full">
      <div id="fraud-graph-container" class="w-full"></div>
    </div>
  </div>
</section>