<!-- =========================
Hero section Banking with translations
===========================-->
<section
  class="hero-section pt-[160px] lg:pt-[180px] xl:pt-[228px] bg-[url('/images/ns-img-55.svg')] dark:bg-[url('/images/ns-img-dark-34.svg')] bg-no-repeat bg-top"
>
  <div class="main-container">
    <div class="space-y-[40px] pb-16 md:space-y-[50px] lg:space-y-[60px] xl:space-y-[70px]">
      <div class="flex flex-col items-center">
        <span data-ns-animate data-delay="0.1" class="badge badge-green mb-3 md:mb-4 lg:mb-5" data-i18n="banking.hero.badge">
          Graph Neural Networks
        </span>
        <div class="space-y-3 md:space-y-4 md:mx-10 lg:mx-0">
          <h1 data-ns-animate data-delay="0.2" class="max-w-[860px] text-center" data-i18n="banking.hero.title">
            We prevent fraud and save banks millions
          </h1>
          <p data-ns-animate data-delay="0.3" class="text-center max-w-[800px] mx-auto" data-i18n="banking.hero.description">
            We provide middle-size banks the advanced Graph technology that large banks use. Our neural networks map complex relationships and detect mule network schemes, ATO, and reduce false positives up to 30-50%.
          </p>
        </div>
        <ul
          class="flex flex-col sm:flex-row items-center justify-center gap-y-3 text-center md:gap-x-4 pt-8 md:pt-10 lg:pt-12 xl:pt-14 w-full sm:w-auto"
        >
          <li
            data-ns-animate
            data-delay="0.3"
            data-direction="left"
            data-offset="50"
            class="w-full"
          >
            <a
              href="https://wa.me/17077022817"
              target="_blank"
              rel="noopener noreferrer"
              class="btn max-md:btn-md w-full md:w-auto max-md:mx-auto btn-xl dark:btn-accent btn-secondary hover:btn-white dark:hover:btn-transparent"
            >
              <span data-i18n="banking.hero.cta.primary">Get Started</span>
            </a>
          </li>
          <li
            data-ns-animate
            data-delay="0.5"
            data-direction="left"
            data-offset="50"
            class="w-full"
          >
            <a
              href="#"
              class="btn btn-white max-md:btn-md w-full md:w-auto max-md:mx-auto btn-xl hover:btn-secondary dark:btn-transparent dark:hover:btn-accent"
            >
              <span data-i18n="banking.hero.cta.secondary">Book a call</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>