<!-- =========================
Main section
===========================-->
<section class="pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <!-- HEADING  -->
    <div class="text-center space-y-5">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan">Iso 9001</span>
      <div class="space-y-3 text-center">
        <h2 data-ns-animate data-delay="0.3">Quality Management Systems</h2>
        <p data-ns-animate data-delay="0.4" class="max-w-[600px] mx-auto">
          ISO 9001 is the global standard for organizations to deliver products and services meeting customer and regulatory needs. Here's how we apply it to your company.
        </p>
      </div>
    </div>

    <!-- tab group  -->
    <Component src="./tabs.htm" />

    <!-- deep tech tab  -->
    <Component src="./deeptech.htm" />

    <!-- biotech tab  -->

    <!-- banking tab  -->

    <!-- manufacturing tab  -->

  </div>
</section>
