<!-- =========================
Main section
===========================-->
<section class="pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <!-- HEADING  -->
    <div class="text-center space-y-5">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan">Iso 9001</span>
      <div class="space-y-3 text-center">
        <h2 data-ns-animate data-delay="0.3">Quality Management Systems</h2>
        <p data-ns-animate data-delay="0.4" class="max-w-[600px] mx-auto">
          ISO 9001 is the international standard for quality management systems. Here's how its
          principles guide our molecular design service, from your initial brief to the candidates
          and reports we deliver.
        </p>
      </div>
    </div>

    <!-- tab group  -->
    <Component src="./tabs.htm" />

    <!-- biotechnology tab  -->
    <Component src="./biotech.htm" />
  </div>
</section>
